pomodoro4eclipse/bin
pomodoro4eclipse/.settings/ch.epfl.lamp.sdt.core.prefs
pomodoro4eclipse/.scala_dependencies
pomodoro4eclipse/images/*.png
pomodoro4eclipse/images/*Y*.svg
pomodoro4eclipse/images/*G*.svg
pomodoro4eclipse/images/*R*.svg
target
